HTML/XML/simulExamen/SimulacroExamen.dtd

<!ELEMENT empleado (persona+)>
<!ELEMENT persona (nombre,nacimiento?,direccion+)>
<!ATTLIST persona genero (hombre|mujer|nobinario) #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacimiento ((dia,mes,año))>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT direccion (calle,provincia)>
<!ATTLIST direccion CP CDATA #REQUIRED>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>